
/* This is the color for whole body */
:root{
    --section-body-color:#0c1027;
}
/* set color for body */
body{
    background-color: var(--section-body-color);
    font-family:monospace;
    overflow-x: hidden;
    padding:0px;
    margin: 0px;
    transition: all 0.7s ease-in-out;
}

/* make the header as flex */
#header-nav-bar{
    padding:0px 10px 0px 10px;
    color:white;
    width:100%;
    position:fixed;
    top:0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:auto;
    z-index: 10;
    background-color: #0c1027;
    box-shadow: 0px 0px 10px 15px #0c102e;
}
/* the starting part of nav bar */
.header-nav-bar-start{
    display: flex;
    width:50%;
    justify-content: flex-start;
    /* border:2px solid black; */
}

/* Icon and ninja studio */
.header-nav-bar-start-icon{
    /* padding:16px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* set the color of button */
.header-nav-bar-start-icon i{
    font-size:2.5rem;
    /* color: white; */
    margin-right:5%
}
/* make flex as column in ninja studio */
.header-nav-bar-start-icon-head{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
.bold-text{
    font-weight: 700;
}
/* Favourite text */
.header-nav-bar-start-favourite{
    margin-left:15%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* the second part of header */
.header-nav-bar-end{
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid black; */
    width:50%;
    justify-content:space-around;
}
.header-nav-bar-end-input{
    padding:0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height:70%;
    border-radius:12%;
    background-color: rgb(18,25,62);
}
/* icons dimensons set here */
.header-nav-bar-end-input i{
    padding:0px 8px 0px 8px;
    height: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* input type for search made here with some width */
.header-nav-bar-end-input input{
    height:2rem;
    border:none;
    padding:0.5rem;
    background: transparent;
    color:white;
    width:16rem;
    align-self: center;
    font-size:1;
}
/* bell icon dimensions set with width */
.header-nav-bar-end-noti{
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    /* border: 2px solid white; */
    color: white;
    font-weight: 100;
}
/* edit the circle on bell */
.header-nav-bar-end-noti div{
    position: absolute;
    height:8px;
    width:8px;
    background-color: red;
    border-radius: 50%;
    top:35%;
    left:69%;
}
/* profile image given a specific height and width */
.header-nav-bar-end-img{
    height:6rem;
    width: 6rem;
}
/* profile image dimensions set here  */
.header-nav-bar-end-img img{
     background-size: contain;
     background-position: center;
     height: 100%;
     width: 100%;
     border-radius: 50%;
}
/* edit the header using media query */
@media only screen and (max-width: 1000px) {
    .header-nav-bar-start{
      background-color: lightblue;    
      display: none;
    }
    .header-nav-bar-end-noti div{
        top:37%;
        left:60%;
        height: 7px;
        width: 7px;
    }
    .header-nav-bar-end{
        width:100%;
    }
    .header-nav-bar-end-input{
        width:30%;
    }
    .header-nav-bar-end-input input{
        width:80%;
    }
    .header-nav-bar-end i{
        font-size: 1rem;
    }
    
}
/* hide content after some width */
@media screen and (max-width: 700px) {
    /* hide first part of nav bar */
    .header-nav-bar-start{
      background-color: lightblue;
      visibility: hidden;
      width: 0%;
    }
    /* second part of width set to full with */
    .header-nav-bar-end{
        width:100%;
    }
    .header-nav-bar-end-input{
        width:30%;
    }
    .header-nav-bar-end-input input{
        width:5rem;
    }
    .header-nav-bar-end i{
        font-size: 1rem;
    }
}
 /* songs section here */
 /* songs section was to be divided into two with somw width */
 #songs{
     display: flex;
     width: 100%;
     flex-direction: row;
     color: white;
     margin-top:100px;
     height:auto;
     z-index:1;
 }
 /* songs section set here and overflow given with width */
 .songs-details{
     width: 70%;
     /* border:2px solid white; */
     height:auto;
 }
 /* settiing songs details here */
.songs-details-latest-release{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     font-size:1.2rem;
     font-weight: 700;
     font-family: monospace;
     padding:8px;
 }
 /* make flex as row here */
.my-row{
    padding:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    font-weight: 700;
}
/* set width as 40% of list */
.songs-details-latest-release-list{
     display: flex;
     width:40%;
     flex-direction: row;
     justify-content: flex-start;
     padding:8px;
     flex-wrap: wrap;
 }
.songs-details-latest-release-list-img-container{
     height:10rem;
     width: 9rem;
     position: relative;
}
 /* give dimensions to font-wawesome icon */
.songs-details-latest-release-list-img-container i{
      visibility: hidden;
      height: 0%;
      width: 0%;
      color:white;
      z-index: 10;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      transition: all 0.6s ease-in-out;
}
/* set the vertical zoom icon here */
.vertical-zoom i{
     left:45%;
}
.songs-details-latest-release-list-img-container:hover i{
     visibility: visible;
     height:100%;
     width: 100%;
     font-size:1.8rem;
 }
 .songs-details-latest-release-list-img-container img{
    height:100%;
    width: 100%;
    background-position: center;
    background-size: contain;
}
/* vertical zoom property */
.vertical-zoom:hover i{
    left:0%;
}
.songs-details-latest-release-list-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-left:20%;
    position: relative;
}
/* set the color to white */
.songs-details-latest-release-list-details-icon i{
    color:white;
    font-size: 1.2rem;
}
/* edit the details of songs-list */
.songs-details-list{
    margin:8px;
    font-size: 0.8rem;
    position: absolute;
    visibility: hidden;
    top:10px;
    left:-100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;
    background-color: black;
    color:white;
    height: auto;
    width: auto;
    z-index: 100;
}
.songs-details-list div{
    margin:4px;
    padding:4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.songs-details-list div i{
    margin-left:8px;
    margin-right:8px;
}
.songs-details-latest-release-list-details-icon:hover .songs-details-list{
    visibility: visible;
}
.songs-categories{
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 8px;
    justify-content: space-around;
    padding-bottom: 16px;
    margin-left: 16px;
    background-color: rgb(18,25,62);
}
.songs-categories-image-container{
    height: 7rem;
    width: 6rem;
    overflow: hidden;
    display: flex;
    position: relative;
    align-self: center;
}
.songs-categories-image-container img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    opacity: 0.5;
}
.songs-categories-image-container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    font-weight: 700;
}
/* make the yellow part */
.first{
    height: 3rem;
    width: 6rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    top:2rem;
    position: relative;
}
.second{
    height: 5rem;
    width: 5rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    flex-direction: column;
    background-color: orange;
    width:4rem;
}
/* set the padding for icon part inside yelllow part */
.third i{
    padding-bottom: 8px;
}
@media only screen and (max-width: 1330px) {
    
    .songs-details-latest-release-list-details{
        margin-left: 5%;
    }
}
@media only screen and (max-width: 1150px) {
    
    .songs-details-latest-release-list-details{
        margin-left: 0%;
    }
    
    .songs-details-latest-release-list{
        width: 45%;
        justify-content: space-around;
    }
    .songs-details-latest-release-list-img-container{
        height:10rem;
        width:8rem;
    }
}
@media only screen and (max-width: 1000px) {
  
    .songs-details-latest-release-list-details{
        margin-left: 0%;
    }
    .songs-details-latest-release-list{
        width: 100%;
        justify-content: space-around;
    }
    .songs-details-latest-release-list-img-container{
        height:100%;
        width:40%;
    }
}
.songs-details-popular-artist{
     font-size: 1.5rem;
     font-weight: 700;
     padding:16px;
 }
.songs-details-popular-artist-images{
    width: 100%;
    padding:8px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.songs-details-popular-artist-images-container a{
    height: 10rem;
    width: 9rem;
    padding:4px;
    margin:4px;
    display: flex;
    flex-direction: column;
}
.songs-details-popular-artist-images-container a img{
    height: 90%;
    width: 100%;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    transition: all 1s;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.songs-new-title-details-pics-trackname{
    color: white;
}
/* after hover make image circular */
.songs-details-popular-artist-images-container a img:hover{
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0px 0px 4px 2px lightgrey;
}

/* hindi and elglish songs */
.songs-cate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding:16px;
    justify-content: space-around;
    overflow: hidden;
}
.songs-cate-container{
    width:18rem;
    height: 11rem;
    overflow: hidden;
    padding:8px;
    position: relative;
}
.songs-cate-container img{
    width:100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    transition: all 0.5s ease-in-out;
}
.songs-cate-container div{
    visibility: hidden;
    height:100%;
    width: 100%;
    color:white;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.songs-cate-container:hover div{
    visibility: visible;
    transform: scale(1.5);
    font-size: 1rem;
}
.songs-cate-container:hover img{
    transform: scale(1.5);
}
/* new songs in hidi and english section */
.songs-new{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    flex-wrap: wrap;
}
.songs-new-title{
    padding:8px;
    font-size:1.5rem;
}
.songs-new-title-details{
    display: flex;
    flex-direction: row;
    margin:8px;
    justify-content: space-around;
    width: 100%;
    flex-wrap:wrap;
}
.songs-new-title-details-pics{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:8px;
}
.songs-new-title-details-pics-imgcontainer{
    height:8rem;
    width:8rem;
    overflow: hidden;
    
}
.songs-new-title-details-pics-imgcontainer img{
    height:100%;
    width:100%;
    background-position: center;
    background-size: contain;
    
}
/* different image properties here */
.circle1 img{
    transition: all 0.5s ease-in-out;
}
/* shdwon after hover */
.circle1:hover img{
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px white;
}
.img-scale img{
    transition: all 0.5s ease-in-out;
}
.img-scale img:hover{
    transform: scale(2);
}
/* set brightness of image */
.brightness img{
    transition: transform 0.5s, filter 0.5s ease-in-out;
    filter: brightness(50%);
}
.brightness:hover img{
    filter: brightness(100%);
    transform: scale(1.3);
}
.horizantal-zoom img{
    transition: transform .7s ease-in-out;
    transform: scale(1);
}
.horizantal-zoom:hover img{
    transform: scale(1.2);
}
.vertical-zoom img{
    transition: transform .7s ease-in-out;
    transform: scale(1);
}
.vertical-zoom:hover img{
    transform: scale(1.2);
}
.colorise img{
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: grayscale(100%);
}
.colorise:hover img{
    filter: grayscale(0);
    transform: scale(1.1);
}
.songs-new-title-details-pics-trackname{
    font-weight: 700;
}
 /* aside section set here and overflow given */
 .songs-tracks{
    width: 30%;
    /* border:2px solid white; */
    display: flex;
    height:auto;
    flex-direction: column;
    font-size:0.8rem;
    color:white;
}
.songs-tracks-queue{
    padding-top: 10px;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    /* justify-content: space-around; */
    align-items: baseline;
}
.songs-tracks-queue-1{
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
}
.songs-tracks-queue-2{
    width: 100%;
    color: rgb(68,190,167);
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    align-self: center;
    margin-right:10%;
    position: relative;
    top:0;
    left:0;
}
.songs-tracks-queue-2 a{
    text-decoration: none;
}
/* make the font size of icon bigger so it is visible */
.songs-tracks-queue-2 i{
    padding-left: 10px;
    font-size:1rem;
}

/* make the icon as relative position so that when list is displayed after hover its position can be set */
.songs-tracks-queue-2-list{
    color:black;
    height: auto;
    padding:0px 8px 0px 8px;
    width:auto;
    background-color: white;
    position: absolute;
    top: 152%;
    /* border:2px solid white; */
    left: 50%;
    font-size: 0.8rem;
    padding-top: 8px;
    transition: all 0.1s;
}
/* give padding and margin to list */
.songs-tracks-queue-2-list div{
   width: auto;
   padding-bottom: 4px;
   margin-bottom:4px;
}
/* after hover set the visibility as true */
/* .songs-tracks-queue-2 :hover .songs-tracks-queue-2-list{
    display: block;
} */
/* last element of list wont have border */
.songs-tracks-queue-2-list div:not(:last-child) {
     border-bottom: 1px solid black; 

}

#link2{
    display: none;
}
#link2:target{
    display: flex;
}
#link1{
    visibility: hidden;
}
#link1:target{
    visibility: visible;
}
/* set the padding as flex to songs list */
.songs-tacks-list{
    display: flex;
    flex-direction: row;
    padding:16px;
    justify-content: space-between;
}
.songs-tacks-list-num{
    align-self: center;
    padding:0px 8px 0px 8px;
}
/* set height and width to img */
.songs-tacks-list-img{
    height: 4rem;
    width: 4rem;
    align-self: center;
    padding:0px 8px 0px 8px;
}
/* give the dimension to to height */
.songs-tacks-list-img img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 0px 4px 2px white;
}
/* artist and album */
.songs-tacks-list-details{
    display: flex;
    flex-direction: column;
    padding:0px 8px 0px 8px;
    justify-content: center;
}
.give-width{
    width:40%;
}
.songs-tacks-list-details-song{
    font-weight: 700;
    padding-bottom: 8px;
    font-size: 1rem;
}
.songs-tacks-list-details-album{
    font-size: 0.8rem;
}
/* heart icon */
.songs-tacks-list-icon{
    align-self: center;
    color:white;
    padding:0px 8px 0px 8px;
}
/* after hover make heart red */
.songs-tacks-list-icon i:hover{
    color:red;
}
.addmargin{
    margin:10px 0px 40px 0px;
}
.bottom{
    margin-bottom: 150px;
}
@media only screen and (max-width: 1400px) {
    .songs-details-popular-artist-images-container a{
        height: 25vh;
        width: 25vh;
    }
    .songs-tacks-list-img{
        height: 5rem;
        width:5rem;
        align-self: center;
        padding:0px 8px 0px 8px;
    }
    .songs-tacks-list-icon{
        align-self: center;
        color:white;
        padding:0px 8px 0px 8px;
    }
}
@media only screen and (max-width: 1300px) {
    
    .songs-details-popular-artist-images-container a{
        height:30vh;
        width: 30vh;
    }
    
    .songs-tacks-list-img{
        height: 5rem;
        width:5rem;
        align-self: center;
        padding:0px 8px 0px 8px;
    }
    .songs-tacks-list-icon{
        align-self: center;
        color:white;
        padding:0px 4px 0px 0px;
    }
}
/* for less than 1100px */
@media only screen and (max-width: 1100px) {
    
    
    .songs-tacks-list-details{
        margin-left: -5%;
    }
    .songs-details-popular-artist-images-container a{
        height: 30vh;
        width: 30vh;
    }
    .songs-details-latest-release-list-img-container:hover i{
        font-size:2.5rem;
    }
    .songs-details{
        width: 60%;
    }
    .songs-tracks{
        width: 40%;
    }
    .margin-10 {
        margin-left: 1%;
    }
    
}
/* for less than 900px */
@media only screen and (max-width: 900px) {
    body{
        overflow-x: hidden;
        width: 96vw;
        margin:0px;
    }
    .songs-categories{
        width: 100%;
    }
    .invisible{
        display: none;
    }
    .songs-details{
        width: 50%;
    }
    .songs-tracks{
        width: 50%;
    }
    .songs-tacks-list-img{
        height: 6rem;
        width:6rem;
        align-self: center;
        padding:0px 8px 0px 8px;
    }
    .songs-tacks-list-num{
        font-size: 1rem;
    }
    
    .songs-tacks-list-details-song{
        font-size: 1.2rem;
    }
    .songs-tacks-list-details-album{
        font-size: 1rem;
    }
    .songs-tacks-list-icon i{
        padding-left: 10px;
        font-size:1rem;
    }
    .songs-details-popular-artist-images-container a{
        height: 30vh;
        width: 30vh;
    }
    
    .songs-new-title-details-pics-imgcontainer{
        height:20vh;
        width: 20vh;
    }
    .songs-new-title-details-pics{
        font-size: 1.1rem;
    }
    .songs-details-latest-release-list-img-container i{
        font-size: 4rem;
    }
    .songs-details-latest-release-list-img-container:hover i{
        font-size:1.8rem;
    }
    .margin-10 {
        margin-left: 3%;
    }
    
}
/* for less than 700px */
@media only screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
        width: 96vw;
        margin:0px;
    }
    .songs-details{
        width: 100%;
    }
    .songs-cate-container{
        height: 30vh;
        width: 50vh;
        padding:24px;
    }
    .songs-details-popular-artist-images-container a{
        height: 40vh;
        width: 40vh;
    }
    .songs-tracks{
        width: 100%;
        justify-content: center;
    }
    .songs-tacks-list-img{
        height: 20vh;
        width: 20vh;
        align-self: center;
        padding:0px 8px 0px 8px;
    }
    .songs-tacks-list-details-song{
        font-size: 1.8rem;
    }
    .songs-tacks-list-details-album{
        font-size: 1.3rem;
    }
    .songs-tacks-list-icon i{
        padding-left: 10px;
        font-size:1.5rem;
    }
    .songs-tacks-list-num{
        font-size: 1.5rem;
    }
    #songs{
        flex-direction: column;
    }
    .songs-tracks-queue-2-list{
        left:70%;
    }
    .songs-new-title-details-pics-imgcontainer{
        height:20vh;
        width: 20vh;
    }
    .songs-new-title-details-pics{
        font-size: 1.1rem;
    }
    .songs-details-latest-release-list-img-container i{
        font-size: 5rem;
    }
    .songs-details-latest-release-list-img-container:hover i{
        font-size:1.8rem;
    }
    .bottom{
        margin-bottom: 50px;
    }
    .last{
        margin-bottom: 170px;
    }
    .margin-10{
        margin-left: 2%;
    }
}
/* center horizontally with different font-size */
.center{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
/* center horizontally */
.center-1{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.songs-details-list i{
    font-size: 0.8rem;
}
/* set the shadown for artist */
.malone img{
    box-shadow: 0px 0px 18px 4px rgb(36,40,57);
}
.eilish img{
    box-shadow: 0px 0px 28px 8px rgb(1,40,47);
}
.drake img{
    box-shadow: 0px 0px 18px 4px rgb(132,141,181)
}
.sheeran img{
    box-shadow: 0px 0px 10px 4px #608694;
}
.swift img{
    box-shadow: 0px 0px 18px 8px rgb(36,40,57);
}
.maroon img{
    box-shadow: 0px 0px 28px 8px rgb(10,10,10);
}